<h1>Strings</h1>

In [4]:
var1 = 'Hello World!'
var2 = "Python Programming"
print(var2 + var1)

Python ProgrammingHello World!

<h3>Accessing Values in Strings</h3>

<tt>Python does not support a character type; these are treated as strings of length one, thus also considered a substring.
<tt>To access substrings, use the square brackets for slicing along with the index or indices to obtain your substring. For example −

In [6]:
#substring -> subset of the current string
#subsets -> small part of the bigger set


#-------0123456789^1
var1 = 'Hello World!'
var2 = "Python Programming"
#var1 = Hello, [He,H,e,l,ell]
#
print ("var1[0]: ", var1[0])
print ("var2[1:5]: ", var2[1:5])
print("var2[0:4]:",var2[0:4])
#to access a substring, we use this format
#[starting point, ending point+1]
#starting point - default value = 0
#ending point - default value = range or length of the string
#for example
#default starting point of hello = 0
#default ending point of hello = 5 = length of the string

var1[0]:  H
var2[1:5]:  ytho
var2[0:4]: Pyth

<h3>Updating Strings

<tt>You can "update" an existing string by (re)assigning a variable to another string. The new value can be related to its previous value or to a completely different string altogether. For example −

In [8]:
#-------012345 
#var1[:6] = "Hello " + Python
# Hello Python
var1 = 'Hello World!' #initial string

var1 = var1[:6] + 'Python' #updated string
print ("Updated String :- ", var1 )

Updated String :-  Hello Python

<h3>Escape Characters


Following table is a list of escape or non-printable characters that can be represented with backslash notation.
An escape character gets interpreted; in a single quoted as well as double quoted strings.

<table><tbody><tr>
<th style="text-align:center;">Backslash notation</th>
<th style="text-align:center;">Hexadecimal character</th>
<th class="ts">Description</th>
</tr>
<tr>
<td>\a</td>
<td>0x07</td>
<td>Bell or alert</td>
</tr>
<tr>
<td>\b</td>
<td>0x08</td>
<td>Backspace</td>
</tr>
<tr>
<td>\cx</td>
<td></td>
<td>Control-x</td>
</tr>
<tr>
<td>\C-x</td>
<td></td>
<td>Control-x</td>
</tr>
<tr>
<td>\e</td>
<td>0x1b</td>
<td>Escape</td>
</tr>
<tr>
<td>\f</td>
<td>0x0c</td>
<td>Formfeed</td>
</tr>
<tr>
<td>\M-\C-x</td>
<td></td>
<td>Meta-Control-x</td>
</tr>
<tr>
<td>\n</td>
<td>0x0a</td>
<td>Newline</td>
</tr>
<tr>
<td>\nnn</td>
<td></td>
<td>Octal notation, where n is in the range 0.7</td>
</tr>
<tr>
<td>\r</td>
<td>0x0d</td>
<td>Carriage return</td>
</tr>
<tr>
<td>\s</td>
<td>0x20</td>
<td>Space</td>
</tr>
<tr>
<td>\t</td>
<td>0x09</td>
<td>Tab</td>
</tr>
<tr>
<td>\v</td>
<td>0x0b</td>
<td>Vertical tab</td>
</tr>
<tr>
<td>\x</td>
<td></td>
<td>Character x</td>
</tr>
<tr>
<td style="vertical-align:middle;">\xnn</td>
<td></td>
<td>Hexadecimal notation, where n is in the range 0.9, a.f, or A.F</td>
</tr>
</tbody></table>

<h3>String Special Operators</h3>

<p>Assume string variable <b>a</b> holds 'Hello' and variable <b>b</b> holds 'Python', then −</p>

<table class="table table-bordered">
<tbody><tr>
<th style="text-align:center;">Operator</th>
<th style="text-align:center;">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">+</td>
<td style="vertical-align:middle">Concatenation - Adds values on either side of the operator</td>
<td class="ts">a + b will give HelloPython</td>
</tr>
<tr>
<td class="ts">*</td>
<td style="vertical-align:middle">Repetition - Creates new strings, concatenating multiple copies of the same string</td>
<td class="ts">a*2 will give -HelloHello</td>
</tr>
<tr>
<td class="ts">[]</td>
<td style="vertical-align:middle">Slice - Gives the character from the given index</td>
<td class="ts">a[1] will give e</td>
</tr>
<tr>
<td class="ts">[ : ]</td><td style="vertical-align:middle">Range Slice - Gives the characters from the given range</td>
<td class="ts">a[1:4] will give ell</td>
</tr>
<tr>
<td class="ts">in</td><td>Membership - Returns true if a character exists in the given string</td><td class="ts">H in a will give 1</td>
</tr>
<tr>
<td class="ts">not in</td>
<td>Membership - Returns true if a character does not exist in the given string</td>
<td class="ts">M not in a will give 1</td>
</tr>
<tr>
<td class="ts">r/R</td>
<td>Raw String - Suppresses actual meaning of Escape characters. The syntax for raw strings is exactly the same as for normal strings with the exception of the raw string operator, the letter "r," which precedes the quotation marks. The "r" can be lowercase (r) or uppercase (R) and must be placed immediately preceding the first quote mark.</td>
<td class="ts">print r'\n' prints \n and print R'\n'prints \n</td>
</tr>
<tr>
<td class="ts">%</td>
<td style="vertical-align:middle">Format - Performs String formatting</td>
<td>See at next section</td>
</tr>
</tbody></table>

In [16]:
a = " anant "
a * 5
#slice, a method to get substring

yes

<h3>String Formatting Operator

<tt>One of Python's coolest features is the string format operator %. This operator is unique to strings and makes up for the pack of having functions from C's printf() family. Following is a simple example −

In [24]:
print ("My name is %s and weight is %d kg!" % ('Anant', 1000)) 
#%s = string
#%d = integer
#%f = float

My name is Anant and weight is 1000 kg!

<table class="table table-bordered">
<tbody><tr>
<th width="10%">Sr.No.</th>
<th style="text-align:center;">Format Symbol &amp; Conversion</th>
</tr>
<tr>
<td class="ts">1</td>
<td><p><b>%c</b></p>
<p>character</p></td>
</tr>
<tr>
<td class="ts">2</td>
<td><p><b>%s</b></p>
<p>string conversion via str() prior to formatting</p></td>
</tr>
<tr>
<td class="ts">3</td>
<td><p><b>%i</b></p>
<p>signed decimal integer</p></td>
</tr>
<tr>
<td class="ts">4</td>
<td><p><b>%d</b></p>
<p>signed decimal integer</p></td>
</tr>
<tr>
<td class="ts">5</td>
<td><p><b>%u</b></p>
<p>unsigned decimal integer</p></td>
</tr>
<tr>
<td class="ts">6</td>
<td><p><b>%o</b></p>
<p>octal integer</p></td>
</tr>
<tr>
<td class="ts">7</td>
<td><p><b>%x</b></p>
<p>hexadecimal integer (lowercase letters)</p></td>
</tr>
<tr>
<td class="ts">8</td>
<td><p><b>%X</b></p>
<p>hexadecimal integer (UPPERcase letters)</p></td>
</tr>
<tr>
<td class="ts">9</td>
<td><p><b>%e</b></p>
<p>exponential notation (with lowercase 'e')</p></td>
</tr>
<tr>
<td class="ts">10</td>
<td><p><b>%E</b></p>
<p>exponential notation (with UPPERcase 'E')</p></td>
</tr>
<tr>
<td class="ts">11</td>
<td><p><b>%f</b></p>
<p>floating point real number</p></td>
</tr>
<tr>
<td class="ts">12</td>
<td><p><b>%g</b></p>
<p>the shorter of %f and %e</p></td>
</tr>
<tr>
<td class="ts">13</td>
<td><p><b>%G</b></p>
<p>the shorter of %f and %E</p></td>
</tr>
</tbody></table>

<p>Other supported symbols and functionality are listed in the following table −</p>

<table class="table table-bordered">
<tbody><tr>
<th>Sr.No.</th>
<th style="text-align:center;">Symbol &amp; Functionality</th>
</tr>
<tr>
<td class="ts">1</td>
<td><p><b>*</b></p>
<p>argument specifies width or precision</p></td>
</tr>
<tr>
<td class="ts">2</td>
<td><p><b>-</b></p>
<p>left justification</p></td>
</tr>
<tr>
<td class="ts">3</td>
<td><p><b>+</b></p>
<p>display the sign</p></td>
</tr>
<tr>
<td class="ts">4</td>
<td><p><b>&lt;sp&gt;</b></p>
<p>leave a blank space before a positive number</p></td>
</tr>
<tr>
<td class="ts">5</td>
<td><p><b>#</b></p>
<p>add the octal leading zero ( '0' ) or hexadecimal leading '0x' or '0X', depending on whether 'x' or 'X' were used.</p></td>
</tr>
<tr>
<td class="ts">6</td>
<td><p><b>0</b></p>
<p>pad from left with zeros (instead of spaces)</p></td>
</tr>
<tr>
<td class="ts">7</td>
<td><p><b>%</b></p>
<p>'%%' leaves you with a single literal '%'</p></td>
</tr>
<tr>
<td class="ts">8</td>
<td><p><b>(var)</b></p>
<p>mapping variable (dictionary arguments)</p></td>
</tr>
<tr>
<td class="ts">9</td>
<td><p><b>m.n.</b></p>
<p>m is the minimum total width and n is the number of digits to display after the decimal point (if appl.)</p></td>
</tr>
</tbody></table>

<h3>Triple Quotes</h3>

In [25]:
para_str = """this is a long string that is made up of
several lines and non-printable characters such as
TAB ( \t ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [ \n ], or just a NEWLINE within
the variable assignment will also show up.
"""

this is a long string that is made up of
several lines and non-printable characters such as
TAB ( 	 ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [
 ], or just a NEWLINE within
the variable assignment will also show up.

<h3>Unicode String</h3>

<tt>In Python 3, all strings are represented in Unicode.In Python 2 are stored internally as 8-bit ASCII, hence it is required to attach 'u' to make it Unicode. It is no longer necessary now.


<h4>Built-in String Methods(also known as functions)</h4>

Python includes the following built-in methods to manipulate strings −

<table class="table table-bordered">
<tbody><tr>
<th style="text-align:center;">Sr.No.</th>
<th style="text-align:center;">Methods &amp; Description</th>
</tr>
<tr>
<td class="ts">1</td>
<td>
<a href="/python3/string_capitalize.htm">capitalize()</a>
<p>Capitalizes first letter of string</p></td>
</tr>
<tr>
<td class="ts">2</td>
<td>
<a href="/python3/string_center.htm">center(width, fillchar)</a>
<p>Returns a string padded with <i>fillchar</i> with the original string centered to a total of <i>width</i> columns.</p></td>
</tr>
<tr>
<td class="ts">3</td>
<td>
<a href="/python3/string_count.htm">count(str, beg = 0,end = len(string))</a>
<p>Counts how many times str occurs in string or in a substring of string if starting index beg and ending index end are given.</p></td>
</tr>
<tr>
<td class="ts">4</td>
<td>
<a href="/python3/string_decode.htm">decode(encoding = 'UTF-8',errors = 'strict')</a>
<p>Decodes the string using the codec registered for encoding. encoding defaults to the default string encoding.</p></td>
</tr>
<tr>
<td class="ts">5</td>
<td>
<a href="/python3/string_encode.htm">encode(encoding = 'UTF-8',errors = 'strict')</a>
<p>Returns encoded string version of string; on error, default is to raise a ValueError unless errors is given with 'ignore' or 'replace'.</p></td>
</tr>
<tr>
<td class="ts">6</td>
<td>
<a href="/python3/string_endswith.htm">endswith(suffix, beg = 0, end = len(string))</a>
<p>Determines if string or a substring of string (if starting index beg and ending index end are given) ends with suffix; returns true if so and false otherwise.</p></td>
</tr>
<tr>
<td class="ts">7</td>
<td>
<a href="/python3/string_expandtabs.htm">expandtabs(tabsize = 8)</a>
<p>Expands tabs in string to multiple spaces; defaults to 8 spaces per tab if tabsize not provided.</p></td>
</tr>
<tr>
<td class="ts">8</td>
<td>
<a href="/python3/string_find.htm">find(str, beg = 0 end = len(string))</a>
<p>Determine if str occurs in string or in a substring of string if starting index beg and ending index end are given returns index if found and -1 otherwise.</p></td>
</tr>
<tr>
<td class="ts">9</td>
<td>
<a href="/python3/string_index.htm">index(str, beg = 0, end = len(string))</a>
<p>Same as find(), but raises an exception if str not found.</p></td>
</tr>
<tr>
<td class="ts">10</td>
<td>
<a href="/python3/string_isalnum.htm">isalnum()</a>
<p>Returns true if string has at least 1 character and all characters are alphanumeric and false otherwise.</p></td>
</tr>
<tr>
<td class="ts">11</td>
<td>
<a href="/python3/string_isalpha.htm">isalpha()</a>
<p>Returns true if string has at least 1 character and all characters are alphabetic and false otherwise.</p></td>
</tr>
<tr>
<td class="ts">12</td>
<td>
<a href="/python3/string_isdigit.htm">isdigit()</a>
<p>Returns true if string contains only digits and false otherwise.</p></td>
</tr>
<tr>
<td class="ts">13</td>
<td>
<a href="/python3/string_islower.htm">islower()</a>
<p>Returns true if string has at least 1 cased character and all cased characters are in lowercase and false otherwise.</p></td>
</tr>
<tr>
<td class="ts">14</td>
<td>
<a href="/python3/string_isnumeric.htm">isnumeric()</a>
<p>Returns true if a unicode string contains only numeric characters and false otherwise.</p></td>
</tr>
<tr>
<td class="ts">15</td>
<td>
<a href="/python3/string_isspace.htm">isspace()</a>
<p>Returns true if string contains only whitespace characters and false otherwise.</p></td>
</tr>
<tr>
<td class="ts">16</td>
<td>
<a href="/python3/string_istitle.htm">istitle()</a>
<p>Returns true if string is properly "titlecased" and false otherwise.</p></td>
</tr>
<tr>
<td class="ts">17</td>
<td>
<a href="/python3/string_isupper.htm">isupper()</a>
<p>Returns true if string has at least one cased character and all cased characters are in uppercase and false otherwise.</p></td>
</tr>
<tr>
<td class="ts">18</td>
<td>
<a href="/python3/string_join.htm">join(seq)</a>
<p>Merges (concatenates) the string representations of elements in sequence seq into a string, with separator string.</p></td>
</tr>
<tr>
<td class="ts">19</td>
<td>
<a href="/python3/string_len.htm">len(string)</a>
<p>Returns the length of the string</p></td>
</tr>
<tr>
<td class="ts">20</td>
<td>
<a href="/python3/string_ljust.htm">ljust(width[, fillchar])</a>
<p>Returns a space-padded string with the original string left-justified to a total of width columns.</p></td>
</tr>
<tr>
<td class="ts">21</td>
<td>
<a href="/python3/string_lower.htm">lower()</a>
<p>Converts all uppercase letters in string to lowercase.</p></td>
</tr>
<tr>
<td class="ts">22</td>
<td>
<a href="/python3/string_lstrip.htm">lstrip()</a>
<p>Removes all leading whitespace in string.</p></td>
</tr>
<tr>
<td class="ts">23</td>
<td>
<a href="/python3/string_maketrans.htm">maketrans()</a>
<p>Returns a translation table to be used in translate function.</p></td>
</tr>
<tr>
<td class="ts">24</td>
<td>
<a href="/python3/string_max.htm">max(str)</a>
<p>Returns the max alphabetical character from the string str.</p></td>
</tr>
<tr>
<td class="ts">25</td>
<td>
<a href="/python3/string_min.htm">min(str)</a>
<p>Returns the min alphabetical character from the string str.</p></td>
</tr>
<tr>
<td class="ts">26</td>
<td>
<a href="/python3/string_replace.htm">replace(old, new [, max])</a>
<p>Replaces all occurrences of old in string with new or at most max occurrences if max given.</p></td>
</tr>
<tr>
<td class="ts">27</td>
<td>
<a href="/python3/string_rfind.htm">rfind(str, beg = 0,end = len(string))</a>
<p>Same as find(), but search backwards in string.</p></td>
</tr>
<tr>
<td class="ts">28</td>
<td>
<a href="/python3/string_rindex.htm">rindex( str, beg = 0, end = len(string))</a>
<p>Same as index(), but search backwards in string.</p></td>
</tr>
<tr>
<td class="ts">29</td>
<td>
<a href="/python3/string_rjust.htm">rjust(width,[, fillchar])</a>
<p>Returns a space-padded string with the original string right-justified to a total of width columns.</p></td>
</tr>
<tr>
<td class="ts">30</td>
<td>
<a href="/python3/string_rstrip.htm">rstrip()</a>
<p>Removes all trailing whitespace of string.</p></td>
</tr>
<tr>
<td class="ts">31</td>
<td>
<a href="/python3/string_split.htm">split(str="", num=string.count(str))</a>
<p>Splits string according to delimiter str (space if not provided) and returns list of substrings; split into at most num substrings if given.</p></td>
</tr>
<tr>
<td class="ts">32</td>
<td>
<a href="/python3/string_splitlines.htm">splitlines( num=string.count('\n'))</a>
<p>Splits string at all (or num) NEWLINEs and returns a list of each line with NEWLINEs removed.</p></td>
</tr>
<tr>
<td class="ts">33</td>
<td>
<a href="/python3/string_startswith.htm">startswith(str, beg=0,end=len(string))</a>
<p>Determines if string or a substring of string (if starting index beg and ending index end are given) starts with substring str; returns true if so and false otherwise.</p></td>
</tr>
<tr>
<td class="ts">34</td>
<td>
<a href="/python3/string_strip.htm">strip([chars])</a>
<p>Performs both lstrip() and rstrip() on string</p></td>
</tr>
<tr>
<td class="ts">35</td>
<td>
<a href="/python3/string_swapcase.htm">swapcase()</a>
<p>Inverts case for all letters in string.</p></td>
</tr>
<tr>
<td class="ts">36</td>
<td>
<a href="/python3/string_title.htm">title()</a>
<p>Returns "titlecased" version of string, that is, all words begin with uppercase and the rest are lowercase.</p></td>
</tr>
<tr>
<td class="ts">37</td>
<td>
<a href="/python3/string_translate.htm">translate(table, deletechars="")</a>
<p>Translates string according to translation table str(256 chars), removing those in the del string.</p></td>
</tr>
<tr>
<td class="ts">38</td>
<td>
<a href="/python3/string_upper.htm">upper()</a>
<p>Converts lowercase letters in string to uppercase.</p></td>
</tr>
<tr>
<td class="ts">39</td>
<td>
<a href="/python3/string_zfill.htm">zfill (width)</a>
<p>Returns original string leftpadded with zeros to a total of width characters; intended for numbers, zfill() retains any sign given (less one zero).</p></td>
</tr>
<tr>
<td class="ts">40</td>
<td>
<a href="/python3/string_isdecimal.htm">isdecimal()</a>
<p>Returns true if a unicode string contains only decimal characters and false otherwise.</p></td>
</tr>
</tbody></table>

<strong>Q1.</strong> <tt>Write a Python program to calculate the length of a string.

In [29]:
#method 1(use built-in function) - len(string)
#method 2(manual method)(count by using forloop)
#------>create a variable that stores number of iterations and name it x
#------>add x for every iteration
a = "Sadiya"
for i in a:
    print(i)

S
a
d
i
y
a

<strong>Q2.</strong> <tt>Write a Python program to count the number of characters (character frequency) in a string.<br>
<tt>Sample String : google.com'

<strong>Q3.</strong> <tt>Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string. If the string length is less than 2, return instead of the empty string.
<br><tt>Sample String : 'w3resource'

In [13]:
#string = "012345678"
#substring1 = string[:2]
#substring2 = string[-1:-3:-1]
#output = substring1 + substring2
#string = "0178"

string = str(input("Get String - "))
if(len(string) > 2):
    substring1 = string[:2]
    substring2 = string[-1:-3:-1]
    substring2 = substring2[::-1]
    output = substring1 + substring2
    print(output)
elif(len(string) == 2):
    print(string)
else:
    print("return")

Get String -  ab

ab

<p><strong>Q4.</strong> <tt>Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing' then add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. <br>
Sample String : 'abc'<br>
<tt>Expected Result :
<tt>'abcing'
<br>
<tt>Sample String : 'string'<br>
<tt>Expected Result :
<tt>'stringly'<br>

In [29]:
#check the length of the string
# if length is less than 3, don't change it
#if reverse(string[-1:-4:-1]) = ing then add ly
#else if it is not equal to ing then add ing
#string = str(input("Get String - "))
#output = string
#if(len(string) >= 3):
#    sub = string[-1:-4:-1] #getting substring
#    sub = sub[::-1] #reversing string
#    if(sub == 'ing'):
#        output = string + 'ly'
#    else:
#        output = string + 'ing'
#print(output)

#method 2: by using functions
string = str(input("get string - "))
def performaction(a):
    output = a
    if(len(string) >= 3):
        sub = string[-1:-4:-1] #getting substring
        sub = sub[::-1] #reversing string
        if(sub == 'ing'):
            output = string + 'ly'
        else:
            output = string + 'ing'
    return output
print(performaction(string))

get string -  anant

ananting

<p><strong>Q5.</strong><tt>Find the index of the first occurrence of a substring in a string.</tt>

In [20]:
#string = "anant"
#sub = "an"
#method 1- using a predefined function
string = "safant"
sub = "an"
print(string.find(sub))

3

In [26]:
#Functions
#syntax def function(args, kwargs):
#       ----> statements
#       ----> statements
#       ----> return output
#f(x) = x^2 + 2x + 1
#f(2) = 4 + 4 + 1
#f(2) = 9
#f(3) = 9 + 6 + 1
#f(3) = 16

#def #define --> in other words, we are defining a function
def addition(a,b):
    return (a ** b)

25

In [ ]:
#pandas
#data science