<h1>Python Lists</h1>

<p>The most basic data structure in Python is the <b>sequence</b>. Each element of a sequence is assigned a number - its position or index. The first index is zero, the second index is one, and so forth.</p>

<p>Python has six built-in types of sequences, but the most common ones are lists and tuples, which we would see in this tutorial.</p>

<p>There are certain things you can do with all the sequence types. These operations include indexing, slicing, adding, multiplying, and checking for membership. In addition, Python has built-in functions for finding the length of a sequence and for finding its largest and smallest elements.</p>

<h2>Python Lists</h2>

<p>The list is the most versatile datatype available in Python, which can be written as a list of comma-separated values (items) between square brackets. Important thing about a list is that the items in a list need not be of the same type.</p>

In [6]:
list1 = ['physics', 'c', 1997, 2000.5,['s']];
list2 = [1, 2, 3, 4, 5 ];
list3 = ["a", "b", "c", "d"];
string1 = "chemistry"
list1 = ["chemistry",11]

#shopping list
#-bread,1
#-butter,1
#-chicken,1
#list
#string, integer, float, list

shoppinglist = [
                ['bread',1],
                ['butter',1],
                ['chicken',1],
               ]

<h2>Accessing Values in Lists</h2>

In [1]:
string1 = "physics"
string1[0:3]

'phy'

In [8]:
#---------0thelement 1stelement  2nd    3rd    length=4
 list1 = ['physics', 'chemistry', 1997, 2000]
#        0  1  2  3  4  5  6
list2 = [1, 2, 3, 4, 5, 6, 7 ]

print ("list1[0]: ", list1[0])
print ("list2[1:5]: ", list2[1:5])

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]

<h2>Updating Lists</h2>

In [5]:
shoppinglist = ["Ice cream","Chocolates","Book"]
shoppinglist[0] = "Cold Drink"
print(shoppinglist)

['Cold Drink', 'Chocolates', 'Book']

In [11]:
list1 = ['physics', 'chemistry', 1997, 2000]
print ("Value available at index 2 : ", list[2])

list1[2] = 2001
print ("New value available at index 2 : ", list[2])

Value available at index 2 :  1997
New value available at index 2 :  2001

<h2>Delete List Elements</h2>

<p>To remove a list element, you can use either the <b>del</b> statement if you know exactly which element(s) you are deleting. You can use the remove() method if you do not know exactly which items to delete. For example −</p>

In [8]:
shoppinglist = ["Ice cream","Chocolates","Book"]
del shoppinglist[0]
print(shoppinglist)

['Chocolates', 'Book']

In [6]:
list = ['physics', 'chemistry', 1997, 2000]
print (list)

del list[2]
print ("After deleting value at index 2 : ", list)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :  ['physics', 'chemistry', 2000]

<h2>Basic List Operations</h2>

<p>Lists respond to the + and * operators much like strings; they mean concatenation and repetition here too, except that the result is a new list, not a string.</p>

<table class="table table-bordered" style="text-align:center;">
<tbody><tr>
<th style="text-align:center;">Python Expression</th>
<th style="text-align:center;">Results</th>
<th style="text-align:center;">Description</th>
</tr>
<tr>
<td>len([1, 2, 3])</td>
<td>3</td>
<td>Length</td>
</tr>
<tr>
<td>[1, 2, 3] + [4, 5, 6]</td>
<td>[1, 2, 3, 4, 5, 6]</td>
<td>Concatenation</td>
</tr>
<tr>
<td>['Hi!'] * 4</td>
<td>['Hi!', 'Hi!', 'Hi!', 'Hi!']</td>
<td>Repetition</td>
</tr>
<tr>
<td>3 in [1, 2, 3]</td>
<td>True</td>
<td>Membership</td>
</tr>
<tr>
<td>for x in [1,2,3] : print (x,end = ' ')</td>
<td>1 2 3</td>
<td>Iteration</td>
</tr>
</tbody></table>

<h2>Indexing, Slicing and Matrixes</h2>

In [9]:
L = ['C++', 'Java', 'Python']

<table class="table table-bordered" style="text-align:center;">
<tbody><tr>
<th style="text-align:center;">Python Expression</th>
<th style="text-align:center;">Results</th>
<th style="text-align:center;">Description</th>
</tr>
<tr>
<td>L[2]</td>
<td>'Python'</td>
<td>Offsets start at zero</td>
</tr>
<tr>
<td>L[-2]</td>
<td>'Java'</td>
<td>Negative: count from the right</td>
</tr>
<tr>
<td>L[1:]</td>
<td>['Java', 'Python']</td>
<td>Slicing fetches sections</td>
</tr>
</tbody></table>

<h2>Built-in List Functions and Methods</h2>

<p>Python includes the following list functions −
</p>

<table class="table table-bordered">
<tbody><tr>
<th width="10%">Sr.No.</th>
<th style="text-align:center;">Function &amp; Description</th>
</tr>
<tr>
<td class="ts">1</td>
<td>
<a href="/python3/list_len.htm">len(list)</a>
<p>Gives the total length of the list.</p></td>
</tr>
<tr>
<td class="ts">2</td>
<td>
<a href="/python3/list_max.htm">max(list)</a>
<p>Returns item from the list with max value.</p>
</td>
</tr>
<tr>
<td class="ts">3</td>
<td>
<a href="/python3/list_min.htm">min(list)</a>
<p>Returns item from the list with min value.</p></td>
</tr>
<tr>
<td class="ts">4</td>
<td>
<a href="/python3/list_list.htm">list(seq)</a>
<p>Converts a tuple into list.</p></td>
</tr>
</tbody></table>

<p>Python includes the following list methods −</p>

<table class="table table-bordered">
<tbody><tr>
<th width="10%">Sr.No.</th>
<th style="text-align:center;">Methods &amp; Description</th>
</tr>
<tr>
<td class="ts">1</td>
<td>
<a href="/python3/list_append.htm">list.append(obj)</a>
<p>Appends object obj to list</p>
</td>
</tr>
<tr>
<td class="ts">2</td>
<td>
<a href="/python3/list_count.htm">list.count(obj)</a>
<p>Returns count of how many times obj occurs in list</p></td>
</tr>
<tr>
<td class="ts">3</td>
<td>
<a href="/python3/list_extend.htm">list.extend(seq)</a>
<p>Appends the contents of seq to list</p></td>
</tr>
<tr>
<td class="ts">4</td>
<td>
<a href="/python3/list_index.htm">list.index(obj)</a>
<p>Returns the lowest index in list that obj appears</p></td>
</tr>
<tr>
<td class="ts">5</td>
<td>
<a href="/python3/list_insert.htm">list.insert(index, obj)</a>
<p>Inserts object obj into list at offset index</p></td>
</tr>
<tr>
<td class="ts">6</td>
<td>
<a href="/python3/list_pop.htm">list.pop(obj = list[-1])</a>
<p>Removes and returns last object or obj from list</p></td>
</tr>
<tr>
<td class="ts">7</td>
<td>
<a href="/python3/list_remove.htm">list.remove(obj)</a>
<p>Removes object obj from list</p></td>
</tr>
<tr>
<td class="ts">8</td>
<td>
<a href="/python3/list_reverse.htm">list.reverse()</a>
<p>Reverses objects of list in place</p></td>
</tr>
<tr>
<td class="ts">9</td>
<td>
<a href="/python3/list_sort.htm">list.sort([func])</a>
<p>Sorts objects of list, use compare func if given</p></td>
</tr>
</tbody></table>

In [ ]:
#Iterations
#Functions
#classes

In [ ]:
#12th

In [ ]:
#12th