<h1>Tuple</h1>

<p>A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists. The main difference between the tuples and the lists is that the tuples cannot be changed unlike lists. Tuples use parentheses, whereas lists use square brackets.</p>

In [1]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"

TypeError: 'tuple' object does not support item assignment

In [30]:
tup1 = ()

<p>To write a tuple containing a single value you have to include a comma, even though there is only one value −

In [2]:
tup1 = (50,)
list1 = [10,]

<p>Like string indices, tuple indices start at 0, and they can be sliced, concatenated, and so on.</p>

<h2>Accessing Values in Tuples</h2>

<p>To access values in tuple, use the square brackets for slicing along with the index or indices to obtain the value available at that index. For example −</p>

In [32]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )

print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

<h2>Updating Tuples</h2>

In [33]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')

# Following action is not valid for tuples
# tup1[0] = 100;

# So let's create a new tuple as follows
tup3 = tup1 + tup2
print (tup3)

(12, 34.56, 'abc', 'xyz')

<h2>Delete Tuple Elements</h2>

In [3]:
list1 = ['physics', 'chemistry', 1997, 2000]

print (list1)
del list1
print ("After deleting list1 : ")
print (list1)

['physics', 'chemistry', 1997, 2000]
After deleting list1 :

NameError: name 'list1' is not defined

<h2>Basic Tuples Operations</h2>

<table class="table table-bordered" style="text-align:center;">
<tbody><tr>
<th style="text-align:center;">Python Expression</th>
<th style="text-align:center;">Results</th>
<th style="text-align:center;">Description</th></tr>
<tr>
<td>len((1, 2, 3))</td>
<td>3</td>
<td>Length</td>
</tr>
<tr>
<td>(1, 2, 3) + (4, 5, 6)</td>
<td>(1, 2, 3, 4, 5, 6)</td>
<td>Concatenation</td></tr>
<tr>
<td>('Hi!',) * 4</td>
<td>('Hi!', 'Hi!', 'Hi!', 'Hi!')</td>
<td>Repetition</td>
</tr>
<tr>
<td>3 in (1, 2, 3)</td>
<td>True</td>
<td>Membership</td>
</tr>
<tr>
<td>for x in (1,2,3) : print (x, end = ' ')</td>
<td>1 2 3</td>
<td>Iteration</td>
</tr>
</tbody></table>

<h2>Indexing, Slicing, and Matrixes</h2>

In [35]:
T=('C++', 'Java', 'Python')

<table class="table table-bordered" style="text-align:center;">
<tbody><tr>
<th style="text-align:center;">Python Expression</th>
<th style="text-align:center;">Results</th>
<th style="text-align:center;">Description</th></tr>
<tr>
<td>T[2]</td>
<td>'Python'</td>
<td>Offsets start at zero</td>
</tr>
<tr>
<td>T[-2]</td>
<td>'Java'</td>
<td>Negative: count from the right</td>
</tr>
<tr>
<td>T[1:]</td>
<td>('Java', 'Python')</td>
<td>Slicing fetches sections</td>
</tr>
</tbody></table>

<h2>No Enclosing Delimiters</h2>

<h2>Built-in Tuple Functions</h2>

<table class="table table-bordered">
<tbody><tr>
<th style="text-align:center;width:5%">Sr.No.</th>
<th style="text-align:center;">Function &amp; Description</th>
</tr>
<!--<tr>
<td class="ts">1</td>
<td>
<a href="/python3/tuple_cmp.htm">cmp(tuple1, tuple2)</a>
<p>Compares elements of both tuples.</p></td>
</tr>-->
<tr>
<td class="ts">1</td>
<td>
<a href="/python3/tuple_len.htm">len(tuple)</a>
<p>Gives the total length of the tuple.</p></td>
</tr>
<tr>
<td class="ts">2</td>
<td>
<a href="/python3/tuple_max.htm">max(tuple)</a>
<p>Returns item from the tuple with max value.</p></td>
</tr>
<tr>
<td class="ts">3</td>
<td>
<a href="/python3/tuple_min.htm">min(tuple)</a>
<p>Returns item from the tuple with min value.</p></td></tr>
<tr>
<td class="ts">4</td>
<td>
<a href="/python3/tuple_tuple.htm">tuple(seq)</a>
<p>Converts a list into tuple.</p></td>
</tr>
</tbody></table>